.content #resultat-left.resultat-page{
}
.content #resultat-left.resultat-page table tr th{
width: 180px;
}
.content #resultat-left.resultat-page table tr td{
    width:20%;
}
.content #resultat-left table tr td.resultat-map{
    padding-right:23px;
}
.content #resultat-left table tr td.resultat-map div{
    width:168px;
    height:61px;
    padding-top:20px;
    color:#202020;
    font-size:18px;
    background-color:#0b0b0b;
    border-left:1px solid #000;
    border-bottom:1px solid #000;
}

.content .resultat-left-sub-sub{
    text-align:left;
    height:27px;
    line-height:27px;
    padding-left:22px;
    font-size:12px;
    color:#333333;
    font-weight:bold;
    background-color:#f48d17;
    font-style: normal;
}

.content .resultat-left-sub-sub span{
    font-size:11px;
    margin: 0 10px;
}
.content .resultat-left-sub-sub div{
    height:27px;
    line-height:27px;
    font-size:13px;
    font-weight:bold;
    width:123px;
    float:right;
    color:#333333;
    text-align:center;
}
.content #resultat-left table{
    width:100%;
    margin-bottom:2px;
}
.content #resultat-left table tr th, .content #resultat-left table tr td{
    width:25%;
    height:27px;
    text-align:center;
    color:#ffffff;
}
.content #resultat-left table tr th{
    background-color:#777777;
    font-weight:normal;
}
.content #resultat-left table tr td{
    background-color:#444444;
}
.content #resultat-left table tr th.bis{
    background-color:#444444;
}
.content #resultat-left table tr td.bis{
    background-color:#777777;
}

.competition-results { margin-bottom: 8px; }




/* DivTable.com */
.divTable{
	display: table;
	width: 100%;
}
.divTableRow {
	display: table-row;
}
.divTableHeading {
	background-color: #EEE;
	display: table-header-group;
}
.divTableCell, .divTableHead {
	border: 1px solid #999999;
	display: table-cell;
	padding: 3px 10px;
}
.divTableHeading {
	background-color: #EEE;
	display: table-header-group;
	font-weight: bold;
}
.divTableFoot {
	background-color: #EEE;
	display: table-footer-group;
	font-weight: bold;
}
.divTableBody {
	display: table-row-group;
}
