table.results {
  width: 800px;
  margin: 0 0 0 10px;
}
table.results td, table.results th {
  height: 30px;
  line-height: 30px;
  padding-left: 10px;
}

table.results th {
  border: solid 1px #e7e7e7;
  background: #e7e7e7;
  text-align: center;
  padding-left: 0;
  color: #333333;
}

table.results th, table.results td.rank {
  -moz-border-radius: 0 3px 3px 0;
  -webkit-border-top-left-radius: 0px;
  -webkit-border-bottom-left-radius: 0px;
  -webkit-border-top-right-radius: 3px;
  -webkit-border-bottom-right-radius: 3px;
}
table.results th.competition {
  text-align: left;
  padding-left: 10px;
  background: #f48d17;
  font-weight: bold;
  font-size: 15px;
  color: #565759;
}

table.results td.empty { background: transparent !important; }
table.results tr.row0 td {
  background: #898a8d;
  color: #fff;
}

table.results tr.row1 td {
  color: #fff;
  background: #b0b0b0;
}

table.results td.place {
  padding-left: 10px;
  font-weight: bold;
  font-size: 15px;
  background: #b0b0b0 !important;
  color: #565759 !important;
}

table.results td.place img {
  border: solid 1px #efefef;
  vertical-align: -1px;
}
table.results td.place span.date {
  font-size: 10px;
  padding: 0 10px;
}

table.results tr.row0 td.round {
  border: solid 1px #67686a;
  border-right: 0;
}
table.results tr td.rank { width: 74px; }
table.results tr td.heat { width: 112px; }
table.results tr td.round { width: 105px; }

table.results tr td.rank.main,  table.results tr td.heat.main { font-weight: bold; }

table.results tr.row0 td.heat, table.results tr.row0 td.rank {
  border-top: solid 1px #67686a;
  border-bottom: solid 1px #67686a;
}
table.results tr.row0 td.rank {
  border-right: solid 1px #67686a;
}

table.results td.round {
  font-weight: bold;
}

table.results td.rank, table.results td.heat {
  font-style: italic;
  border-left: solid 1px #fff;
}

table.results th.competition, table.results td.place {
  -moz-border-radius: 3px 0 0 3px;
  -webkit-border-top-left-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  -webkit-border-top-right-radius: 0px;
  -webkit-border-bottom-right-radius: 0px;
}
table.results tr:hover td.heat, table.results tr:hover td.rank, table.results tr:hover td.round { background: #B6985A; }




/* DivTable.com */
.divTable{
	display: table;
	width: 100%;
}
.divTableRow {
	display: table-row;
}
.divTableHeading {
	background-color: #EEE;
	display: table-header-group;
}
.divTableCell, .divTableHead {
	border: 1px solid #999999;
	display: table-cell;
	padding: 3px 10px;
}
.divTableHeading {
	background-color: #EEE;
	display: table-header-group;
	font-weight: bold;
}
.divTableFoot {
	background-color: #EEE;
	display: table-footer-group;
	font-weight: bold;
}
.divTableBody {
	display: table-row-group;
}
