<div class="logos-grid fade-in">
	<a href="https://lmsys.fr/" target="_blank" rel="noopener">
		<img src="/images/logos/lmsys.webp" alt="LMsys" loading="lazy">
	</a>
	<a href="https://www.falcon-rs.com/" target="_blank" rel="noopener">
		<img src="/images/logos/tecsav.webp" alt="Tec-Sav" loading="lazy">
	</a>
</div>
